<div class="project-card">
    <h3>Lorem Ipsum</h3>
    <p>
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
        standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to
        make a type specimen book. It has survived not only five centuries.
    </p>
    <div class="project-footer">
        <div class="project-icons">
            <i class="fa-brands fa-python" style="color: #3572A5;"></i>
            <i class="fa-solid fa-brain" style="color: #f9a825;"></i>
            <i class="fa-brands fa-js" style="color: #f7df1e;"></i>
            <i class="fa-brands fa-html5" style="color: #e34c26;"></i>
            <i class="fa-brands fa-css3-alt" style="color: #2965f1;"></i>
            <i class="fa-brands fa-react" style="color: #61dbfb;"></i>
            <i class="fa-brands fa-node-js" style="color: #68a063;"></i>
            <i class="fa-brands fa-docker" style="color: #0db7ed;"></i>
            <i class="fa-brands fa-git-alt" style="color: #f1502f;"></i>
            <i class="fa-brands fa-linux" style="color: #fff;"></i>
            <i class="fa-brands fa-ubuntu" style="color: #e95420;"></i>
        </div>

        <a href="#" class="github-button" target="_blank">
            <i class="fa-brands fa-github"></i> View on GitHub
        </a>
    </div>
</div>