<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nathan Dezan - Portifolio</title>
    <link rel="stylesheet" href="../../styles/general.css">
    <link rel="stylesheet" href="../../styles/pallet.css">
    <link rel="stylesheet" href="../../styles/nav-bar.css">
    <link rel="stylesheet" href="../../styles/home/left-column.css">
    <link rel="stylesheet" href="../../styles/home/right-column.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link rel="icon" href="../../resources/icons/favicon.ico" type="image/x-icon">
</head>

<body>
    <nav>
        <ul>
            <li><a href="home.html">INICIO</a></li>
            <li><a href="projects.html">PROJETOS</a></li>
            <li><a href="papers.html">ARTIGOS</a></li>
            <li><a href="about.html">SOBRE</a></li>
        </ul>
        <div class="language-div">
            <a id="languageButton" class="language-btn" href="../../../index.html">
                <img src="../../resources/united-states-flat.png" alt="en" class="flag-icon">
            </a>
        </div>
    </nav>

    <section id="content">
        <div class="columns-container">
            <div class="left-column">
                <div class="profile-card">
                    <img src="../../resources/photo.jpeg" alt="Nathan Dezan" class="profile-photo">
                    <h1>Nathan Dezan</h1>
                    <p class="position">AI/ML Engineer</p>
                    <div class="social-links">
                        <a href="https://github.com/NathanDezan" target="_blank">
                            <i class="fa-brands fa-github github-icon"></i>
                        </a>
                        <a href="https://linkedin.com/in/nathan-dezan-002b121b2" target="_blank">
                            <i class="fa-brands fa-linkedin linkedin-icon"></i>
                        </a>
                        <a href="https://medium.com/@dezann" target="_blank">
                            <i class="fa-brands fa-medium medium-icon"></i>
                        </a>
                    </div>
                </div>
            </div>

            <div class="right-column">
                <div class="about-section">
                    <h2>Sobre</h2>
                    <p>
                        Engenheiro de IA e Machine Learning com domínio em NLP, LLMs e cloud computing. Participou de projetos de automação de atendimento, onboarding digital e refatoração inteligente de software, alcançando ganhos significativos em eficiência e redução de custos. Forte atuação em desenvolvimento de chatbots multicanal e plataformas robustas de IA, com expertise em integração de sistemas e otimização de processos. Objetiva aplicar conhecimento técnico e científico para impulsionar inovação e valor nos negócios.
                    </p>
                    <button class="cv-button" onclick="downloadCV('pt-br')">Download CV</button>
                </div>

                <div class="info-columns">
                    <div class="interests-section">
                        <h3>Certificações</h3>
                        <ul>
                            <li>
                                <p class="degree">[AIF-C01]</p>
                                AWS AI Practitioner
                            </li>
                        </ul>
                    </div>

                    <div class="education-section">
                        <h3>Formação</h3>
                        <div class="education-entry">
                            <i class="fa-solid fa-graduation-cap"></i>
                            <div class="education-content">
                                <p class="degree">
                                    Bacharel em Sistemas de Informação
                                </p>
                                <p class="institution">Universidade Federal de Mato Grosso do Sul</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script src="../../js/downloadCV.js"></script>
</body>

</html>