<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nathan Dezan - Portifolio</title>
    <link rel="stylesheet" href="../../styles/general.css">
    <link rel="stylesheet" href="../../styles/nav-bar.css">
    <link rel="stylesheet" href="../../styles/pallet.css">
    <link rel="stylesheet" href="../../styles/papers/papers-cards.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link rel="icon" href="../../resources/icons/favicon.ico" type="image/x-icon">
</head>

<body>
    <nav>
        <ul>
            <li><a href="home.html">INICIO</a></li>
            <li><a href="projects.html">PROJETOS</a></li>
            <li><a href="papers.html">ARTIGOS</a></li>
            <li><a href="about.html">SOBRE</a></li>
        </ul>
        <div class="language-div">
            <a id="languageButton" class="language-btn" href="../en/papers.html">
                <img src="../../resources/united-states-flat.png" alt="en" class="flag-icon">
            </a>
        </div>
    </nav>

    <section id="content">
        <div class="columns-container">
            <div class="papers-section">
                <!-- Papers Here -->
                <div class="papers-card">
                    <h3>A Influência dos Estilos de Aprendizagem nos Papéis de Desenvolvimento de Software no Ambiente de Ensino</h3>
                    <h4 class="subtitle-paper-card">
                        Publicado: Dezembro 2023 | Qualis CAPES: B1 | DOI: 10.56083/RCV3N12-186
                    </h4>
                    <p>
                        O artigo analisa a relação entre os estilos de aprendizagem dos estudantes, com base no modelo CHAEA, e os papéis no desenvolvimento de software em um contexto educacional. A pesquisa mostrou uma predominância do estilo de aprendizagem reflexivo entre os alunos, sugerindo que práticas de ensino adaptadas a esse perfil podem aumentar a eficácia da aprendizagem. Conclui-se que considerar os estilos de aprendizagem dos estudantes ao planejar atividades relacionadas a papéis como programador, analista ou testador pode promover um ambiente educacional mais inclusivo e envolvente.
                    </p>
                    <div class="paper-footer">
                        <a href="../../resources/papers/A Influência dos Estilos de Aprendizagem nos Papéis de Desenvolvimento de Software no Ambiente de Ensino.pdf" class="pdf-button" target="_blank">
                            <i class="fa-solid fa-arrow-down"></i>
                            PDF
                        </a>
                        <a href="https://doi.org/10.56083/RCV3N12-186" class="read-more-button" target="_blank">
                            Leia Mais
                            <i class="fa-solid fa-angles-right"></i>
                        </a>
                    </div>
                </div>
                <div class="papers-card">
                    <h3>Tempo é Dinheiro: Otimizando Estruturas DataFrame</h3>
                    <h4 class="subtitle-paper-card">
                        Publicado: Novembro 2022 | Artigo do Medium
                    </h4>
                    <p>
                        Este estudo apresenta técnicas de otimização para lidar com grandes conjuntos de dados utilizando a biblioteca Pandas. Ao converter arquivos CSV para o formato Pickle, remover valores nulos e atribuir tipos de dados apropriados, foram alcançadas reduções significativas no tempo de carregamento e no uso de memória, com melhorias superiores a 80%. Essas práticas se mostram particularmente eficazes em ambientes com recursos limitados. A análise destaca que ajustes simples nas estruturas de dados podem ter um impacto substancial no desempenho computacional.
                    </p>
                    <div class="paper-footer">
                        <a href="https://medium.com/@dezann/tempo-%C3%A9-dinheiro-otimizando-estruturas-dataframe-712fccc43a22" class="pdf-button" target="_blank">
                            Leia Mais
                            <i class="fa-solid fa-angles-right"></i>
                        </a>
                    </div>
                </div>
                <div class="papers-card">
                    <h3>Estudo de Técnicas Ensemble no Aprendizado Baseado em uma Única Classe na Classificação Automática de Textos</h3>
                    <h4 class="subtitle-paper-card">
                        Publicado: Setembro 2021 | Artigo Interno da Universidade
                    </h4>
                    <p>
                        O estudo avalia o uso de técnicas de ensemble aplicadas ao aprendizado de uma única classe (ABUC) para classificação automática de textos. Quatro algoritmos ABUC foram utilizados: Local Outlier Factor (LOF), One Class SVM (OCSVM), Isolation Forest e Elliptic Envelope. A pesquisa comparou o desempenho individual desses algoritmos com suas combinações em ensemble, utilizando quatro conjuntos de dados de texto. Os resultados mostraram que os ensembles, especialmente a combinação do LOF com o OCSVM, superaram os melhores resultados individuais em até 20% na métrica F1-score.
                    </p>
                    <div class="paper-footer">
                        <a href="../../resources/papers/Estudo de Técnicas Ensemble no Aprendizado Baseado em uma Única Classe na Classificação Automática de Textos.pdf" class="pdf-button" target="_blank">
                            <i class="fa-solid fa-arrow-down"></i>
                            PDF
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>

</html>