<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nathan Dezan - Portifolio</title>
    <link rel="stylesheet" href="../../styles/general.css">
    <link rel="stylesheet" href="../../styles/nav-bar.css">
    <link rel="stylesheet" href="../../styles/pallet.css">
    <link rel="stylesheet" href="../../styles/projects/projects-cards.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link rel="icon" href="../../resources/icons/favicon.ico" type="image/x-icon">
</head>

<body>
    <nav>
        <ul>
            <li><a href="home.html">INICIO</a></li>
            <li><a href="projects.html">PROJETOS</a></li>
            <li><a href="papers.html">ARTIGOS</a></li>
            <li><a href="about.html">SOBRE</a></li>
        </ul>
        <div class="language-div">
            <a id="languageButton" class="language-btn" href="../en/projects.html">
                <img src="../../resources/united-states-flat.png" alt="en" class="flag-icon">
            </a>
        </div>
    </nav>

    <section id="content">
        <div class="columns-container">
            <div class="projects-section">
                <!-- Projects Here -->
            </div>
        </div>
    </section>
</body>

</html>