.left-column {
    flex: 1;
    max-width: 300px;
}

@media (max-width: 768px) {
    .left-column {
        max-width: 100%;
    }

    .profile-photo {
        width: 170px;
        height: 170px;
    }
}

.profile-card {
    padding: 2.5rem;
    text-align: center;
}

.profile-card h1 {
    font-size: 1.8rem;
    color: var(--font-home-page-color);
    margin-bottom: 0.5rem;
}

.profile-photo {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 1.5rem;
}

.position {
    color: var(--font-home-page-color);
    font-weight: 600;
}

.social-links {
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    margin-top: 1em;
}

.social-links a {
    font-size: 1.5rem;
    transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1);
}

.social-links a:hover {
    transform: translateY(-3px) scale(1.1);
}

.github-icon {
    color: var(--font-home-page-color);
}

.linkedin-icon {
    color: var(--font-home-page-color);
}

.instagram-icon {
    color: var(--font-home-page-color);
}

.medium-icon {
    color: var(--font-home-page-color);
}