<div class="project-card">
    <h3>The Influence of Learning Styles on Software Development Roles in the Teaching Environment</h3>
    <h4 class="subtitle-paper-card">
        Published: December 2023 | Qualis CAPES: B1 | DOI: 10.56083/RCV3N12-186
    </h4>
    <p>
        The article analyzes the relationship between students' learning styles, based on the CHAEA model, and software development roles in an educational context. The research showed a predominance of the reflective learning style among students, suggesting that teaching practices tailored to this profile can enhance learning effectiveness. It concludes that considering students' learning styles when planning activities related to roles such as programmer, analyst, or tester can foster a more inclusive and engaging educational environment.
    </p>
    <div class="project-footer">
        <a href="../../resources/papers/A Influência dos Estilos de Aprendizagem nos Papéis de Desenvolvimento de Software no Ambiente de Ensino.pdf" class="pdf-button" target="_blank">
            <i class="fa-solid fa-arrow-down"></i>
            PDF
        </a>
        <a href="https://doi.org/10.56083/RCV3N12-186" class="github-button" target="_blank">
            Read More
            <i class="fa-solid fa-angles-right"></i>
        </a>
    </div>
</div>